{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

        {% if app.user and "ROLE_ADMIN" in app.user.roles %}
        <div id="link-account-create">
            <a href="{{ path('app_inscription') }}">Créer un employé</a>
        </div>
        {% endif %}


    {% if app.user and "ROLE_USER" in app.user.roles %}
        {% if temoignages is empty %}
        <div class="d-flex align-items-center justify-content-center mt-5 mb-5 row">
            <h1 class="text-danger text-center">Aucun avis en attente de modération.</h1>
        </div>
        {% else %}

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 justify-content-evenly carousel-avis">
            {% for temoignages in temoignages %}
                <div class="card text-center w-25 m-2 card-avis">
                    <div class="card-header">
                        {{ temoignages.nom }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ temoignages.commentaire }}</p>
                        <p class="card-text">{{ temoignages.note }}</p>
                        <a href="{{ path('app_validation_avis', {'id': temoignages.id}) }}" class="card-link text-danger">Ajouter cet avis !</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}
    {% endif %}
    <h4>Vous êtes sur le site du garage de Vincent Parrot</h4>
{% endblock %}